/* -------------------------------------------------------------- */
/* Default Colors
----------------------------------------------------------------- */
$primary-color: 							#00e6c3;
$secondry-color: 							#95d3f8;
$body-font-color:							#666;
$body-heading-color:						#333;


/* -------------------------------------------------------------- */
/* Typography
----------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&subset=latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

$primary-font: 								"Nunito", sans-serif;
$secondry-font: 							"Montserrat", sans-serif;
$body-font-size: 							16px;
$body-line-height: 							27px;
$body-sub-line-height: 						26px;

$homepage-heading-font-size: 				26px;
$single-page-heading-font-size: 			20px;
$listing-heading-font-size: 				18px;

$global-border-radius:						4px;


/* -------------------------------------------------------------- */
/* Header Settings for Desktop Devices
----------------------------------------------------------------- */
$header-height: 							82px;
$navigation-top-offset: 					22px;
$logo-height: 								42px;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;